version: '3.8'

services:
  kafka:
    image: apache/kafka:3.7.1
    container_name: kafka
    restart: always
    user: "root"
    environment:
      - KAFKA_PROCESS_ROLES=broker,controller
      - KAFKA_NODE_ID=1
      - KAFKA_CONTROLLER_QUORUM_VOTERS=1@kafka:9093
      # 修改监听器配置
      - KAFKA_LISTENERS=PLAINTEXT://:9092,CONTROLLER://:9093
      # 修改 advertised.listeners 配置
      - KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://localhost:9092
      # 修改协议映射
      - KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
      - KAFKA_CONTROLLER_LISTENER_NAMES=CONTROLLER
      - KAFKA_AUTO_CREATE_TOPICS_ENABLE=true
      - KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1
      - KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR=1
      - KAFKA_TRANSACTION_STATE_LOG_MIN_ISR=1
      - KAFKA_HEAP_OPTS=-Xmx512m -Xms512m
    ports:
      - "9092:9092"
    volumes:
      - kafka_data:/tmp/kafka-logs
    networks:
      - app_net



  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    container_name: kafka-ui
    restart: always
    depends_on:
      - kafka
    environment:
      - KAFKA_CLUSTERS_0_NAME=kraft-cluster
      - KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS=kafka:9092
    ports:
      - "8081:8080"
    networks:
      - app_net

  postgres:
    image: postgres:15
    container_name: postgres
    restart: always
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=admin123
      - POSTGRES_DB=streamdb
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app_net

  producer:
    build:
      context: ./producer
      dockerfile: Dockerfile
      args:
        http_proxy: http://172.26.48.1:7890
        https_proxy: http://172.26.48.1:7890
    depends_on:
      - kafka
    environment:
      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9092

  consumer:
    build:
      context: ./consumer
      dockerfile: Dockerfile
      args:
        http_proxy: http://172.26.48.1:7890
        https_proxy: http://172.26.48.1:7890
    depends_on:
      - kafka
      - postgres
    environment:
      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9092
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/streamdb


networks:
  app_net:
    driver: bridge

volumes:
  kafka_data:
  postgres_data:

