server:
  port: 8084

spring:
  application:
    name: alert-service

  # 数据库配置
  datasource:
    url: jdbc:postgresql://localhost:5432/streamdb
    username: admin
    password: admin123
    driver-class-name: org.postgresql.Driver

  # JPA配置
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    properties:
      hibernate:
        format_sql: true

  # Kafka配置
  kafka:
    bootstrap-servers: localhost:9094
    consumer:
      group-id: alert-service-group
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "*"

# 日志配置
logging:
  level:
    org.springframework.kafka: INFO
    org.zewang.alertservice: DEBUG